body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.ul_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #616161;
}

.li_nav {
    float: left;
}

.li_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}


.li_nav a:hover {
    background-color: #3b3b3b;
}

.ul_igra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.li_igra {
    float: left;
    margin: 6.67px 6.67px 6.67px auto;
}